body {
  background-color: #f7eed3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
header ul li a {
  text-decoration: none;
  font-size: 25px;
  color: coral;
}
header h1{
    color: blue;
}
